.footer-image {
      background-image: url("../images/cyclonefooter.png");
      height: 800px;
      background-position: top;
      background-repeat: no-repeat;
}
.footer {
      background-color: $grey;
      padding-bottom: 100px;
}
.footer-row {
      margin: 0 auto;
      text-align: center;
}
.footer h6 {
      color: $white;
}
.footer-button {
      margin-top: 50px;
}
