.portfolio02 {
      background-image: url("../images/CraneBG.jpg");
      height: 900px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
}

.portfolio02-button {
      margin-top: 200px;
}

.container-portfolio02 {
      padding-top: 50px;
}
