.portfolio02 {
      background-image: url("../images/portfoliobg.png");
      height: 900px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
}

.portfolio02-button {
      margin-top: 200px;
}

.container-portfolio02 {
      padding-top: 50px;
}
